<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='compare.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>So sánh sản phẩm</h1>
      <table class="comparison-table">
        <thead>
          <tr>
            <th>PRID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Acreage</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
          </tr>
        </thead>
        <tbody>
          {% for product in comparison_products %}
          <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>{{ product[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
