<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Estate Products</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Real Estate Products</h1>
      <div class="product-list">
        {% for product in products %}
        <div
          class="product-item"
          onclick="redirectToProduct('{{ product[10] }}')"
        >
          <img src="{{ product[11] }}" alt="Product Image" />
          <div class="product-details">
            <h2>{{ product[1] }}</h2>
            <p>Location: {{ product[2] }}, {{ product[3] }}</p>
            <p>Time Published: {{ product[4] }}</p>
            <p>Price: {{ product[5] }}</p>
            <p>Acreage: {{ product[6] }}</p>
            <p>Price per m2: {{ product[7] }}</p>
            <p>Bedrooms: {{ product[8] }}</p>
            <p>Bathrooms: {{ product[9] }}</p>
            <p>Description: {{ product[12] }}</p>
            <p>Source: {{ product[13] }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <script>
      function redirectToProduct(url) {
        window.location.href = url;
      }
    </script>
  </body>
</html>
