<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Estate Products</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Real Estate Products</h1>
      <form method="POST" action="{{ url_for('search') }}">
        <input type="text" name="search_query" placeholder="Tìm kiếm" />
        <button type="submit">Tìm kiếm</button>
      </form>
      <div class="product-list">
        {% for product in products %}
        <div
          class="product-item"
          onclick="redirectToProduct('{{ product[10] }}')"
        >
          <div class="product-image">
            <img src="{{ product[11] }}" alt="Product Image" />
          </div>
          <div class="product-details">
            <h2>{{ product[1] }}</h2>
            <p>Vị trí: {{ product[2] }}, {{ product[3] }}</p>
            <p>Ngày đăng: {{ product[4] }}</p>
            <p>Giá: {{ product[5] }}</p>
            <p>Diện tích: {{ product[6] }} m²</p>
            <p>Giá/m²: {{ product[7] }}/m²</p>
            <p>Số phòng ngủ: {{ product[8] }}</p>
            <p>Số phòng tắm: {{ product[9] }}</p>
            <p>Mô tả: {{ product[12] }}</p>
            <div class="logo">
              {% if product[13] == 'https://batdongsan.com.vn/' %}
              <img
                src="{{ url_for('static', filename='1.svg') }}"
                alt="Logo 1"
              />
              {% elif product[13] == 'https://batdongsan.vn/' %}
              <img
                src="{{ url_for('static', filename='2.png') }}"
                alt="Logo 2"
              />
              {% elif product[13] == 'https://homedy.com/' %}
              <img
                src="{{ url_for('static', filename='3.svg') }}"
                alt="Logo 3"
              />
              {% elif product[13] == 'https://alonhadat.com.vn/' %}
              <img
                src="{{ url_for('static', filename='4.png') }}"
                alt="Logo 4"
              />
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <script>
      function redirectToProduct(url) {
        window.location.href = url;
      }
    </script>
  </body>
</html>
